div.gallery {
  margin: px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}
divx x div.desc {
  padding: 15px;
  text-align: center;
}
.gallery-head h1 {
  margin-top: 20px;
  text-align: center;
}
.gallery1 {
  background-color: rgb(255, 255, 255);
  height: 500px;
  margin-top: 20px;
  text-align: center;
  padding-left: 7.5%;
}
